

$themes: (
    default: (
            primary-background: #ffffff,
            secondary-background: #fff,
            primary-text: #0d2c54,
            primary-accent: #0d2c54,
            primary-border: #fff,
            primary-accent-text: #fff,
            box-shadow-settings: inset 0px 0px 100px -40px #ff9f0b,
            selected-pulse-shadow-none: inset 0px 0px 8px 0px #24ff0d,
            selected-pulse-shadow-half: inset 0px 0px 8px 1.5px #24ff0d,
            selected-pulse-shadow-full: inset 0px 0px 8px 3px #24ff0d

    ),
    emily: (
        primary-background: #ffd588,
        secondary-background: #fff,
        primary-text: #0d2c54,
        primary-accent: #0d2c54,
        primary-border: #fff,
        primary-accent-text: #fff,
        box-shadow-settings: none
    )
);


@mixin color-theme($key, $color) {
@each $theme-name, $theme-color in $themes {
.theme-#{$theme-name} & {
  #{$key}: map-get(map-get($themes, $theme-name), $color);
}
}
}